<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="SnackMachine" connectionString="Server=SF197;Database=SnackMachine;Trusted_Connection=true"/>
  </connectionStrings>
</configuration>